In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("IMDb movies.csv")
df

,user_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,ratings,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,1,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,2,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,26/12/1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,"$2,250",NaN,NaN,NaN,7.0,7.0
2,3,Den sorte drøm,Den sorte drøm,1911,19/08/1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,4,Cleopatra,Cleopatra,1912,13/11/1912,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN,NaN,25.0,3.0
4,5,L'Inferno,L'Inferno,1911,06/03/1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,561284,Le lion,Le lion,2020,29/01/2020,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,"$3,507,171",NaN,NaN,4.0
85851,561307,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,13/02/2020,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,"$7,299,062",NaN,6.0,4.0
85852,561310,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,08/03/2019,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,561312,Sokagin Çocuklari,Sokagin Çocuklari,2019,15/03/2019,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,"$2,833",NaN,NaN,NaN
85854,561318,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,05/02/2020,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,"$59,794",NaN,NaN,2.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  ratings                85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [7]:
df.size

1888810

#### Since the entire data is too large, we'll only be using the top 20% popular movies

In [8]:
m = df['votes'].quantile(0.80)

dataset = df.copy().loc[df['votes'] >= m]
dataset = dataset.reset_index()

dataset.shape

(17172, 23)

In [9]:
dataset.size

394956

# Pre-Processing

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  17172 non-null  int64
 1   user_id                17172 non-null  object
 2   title                  17172 non-null  object
 3   original_title         17172 non-null  object
 4   year                   17172 non-null  object
 5   date_published         17172 non-null  object
 6   genre                  17172 non-null  object
 7   duration               17172 non-null  int64
 8   country                17172 non-null  object
 9   language               17132 non-null  object
 10  director               17172 non-null  object
 11  writer                 17142 non-null  object
 12  production_company     17062 non-null  object
 13  actors                 17169 non-null  object
 14  description            17148 non-null  object
 15  ratings                17172 non-null  float64
 16  votes                  17172 non-null  int64
 17  budget                 9828 non-null   object
 18  usa_gross_income       10166 non-null  object
 19  worlwide_gross_income  13033 non-null  object
 20  metascore              9787 non-null   float64
 21  reviews_from_users     17131 non-null  float64
 22  reviews_from_critics   17017 non-null  float64
dtypes: float64(4), int64(3), object(16)
memory usage: 3.0+ MB

In [11]:
dataset.isna().sum()

index                       0
user_id                     0
title                       0
original_title              0
year                        0
date_published              0
genre                       0
duration                    0
country                     0
language                   40
director                    0
writer                     30
production_company        110
actors                      3
description                24
ratings                     0
votes                       0
budget                   7344
usa_gross_income         7006
worlwide_gross_income    4139
metascore                7385
reviews_from_users         41
reviews_from_critics      155
dtype: int64

In [12]:
dataset.drop(['original_title', 'year', 'date_published', 'country', 
         'production_company', 'votes', 'budget', 'usa_gross_income',
        'worlwide_gross_income', 'reviews_from_users', 'reviews_from_critics',
        'metascore', 'language', 'user_id'], axis=1, inplace=True)

In [13]:
dataset

,index,title,genre,duration,director,writer,actors,description,ratings
0,24,Cabiria,"Adventure, Drama, History",148,Giovanni Pastrone,"Gabriele D'Annunzio, Titus Livius","Carolina Catena, Lidia Quaranta, Gina Marangon...",Cabiria is a Roman child when her home is dest...,7.1
1,39,Tillie's Punctured Romance,Comedy,82,"Mack Sennett, Charles Bennett",NaN,"Marie Dressler, Charles Chaplin, Mabel Normand...",A con man from the city dupes a wealthy countr...,6.3
2,47,Nascita di una nazione,"Drama, History, War",195,D.W. Griffith,"Thomas Dixon Jr., Thomas Dixon Jr.","Henry B. Walthall, Lillian Gish, Mae Marsh, Mi...",The Stoneman family finds its friendship with ...,6.3
3,61,I vampiri,"Action, Adventure, Crime",421,Louis Feuillade,Louis Feuillade,"Musidora, Édouard Mathé, Marcel Lévesque, Jean...",An intrepid reporter and his loyal friend batt...,7.3
4,76,Intolerance,"Drama, History",163,D.W. Griffith,"D.W. Griffith, Anita Loos","Lillian Gish, Mae Marsh, Robert Harron, F.A. T...","The story of a poor young woman, separated by ...",7.8
...,...,...,...,...,...,...,...,...,...
17167,85780,Metri Shesh Va Nim,"Action, Crime, Drama",131,Saeed Roustayi,Saeed Roustayi,"Payman Maadi, Navid Mohammadzadeh, Parinaz Iza...",The police are after a drug lord named Naser K...,7.9
17168,85811,Falling Inn Love - Ristrutturazione con amore,"Comedy, Romance",98,Roger Kumble,"Elizabeth Hackett, Hilary Galanoy","Christina Milian, Adam Demos, Jeffrey Bowyer-C...",When city girl Gabriela spontaneously enters a...,5.6
17169,85837,VFW,"Action, Crime, Horror",92,Joe Begos,"Max Brallier, Matthew McArdle","Stephen Lang, William Sadler, Fred Williamson,...",A group of old war veterans put their lives on...,6.1
17170,85839,Coffee & Kareem,"Action, Comedy",88,Michael Dowse,Shane Mack,"Ed Helms, Taraji P. Henson, Terrence Little Ga...",Twelve-year-old Kareem Manning hires a crimina...,5.1
17171,85843,Kaithi,"Action, Thriller",145,Lokesh Kanagaraj,"Lokesh Kanagaraj, Pon Parthiban","Karthi, Narain, Ramana, George Maryan, Harish ...",A recently released prisoner becomes involved ...,8.5

In [14]:
dataset.isna().sum()

index           0
title           0
genre           0
duration        0
director        0
writer         30
actors          3
description    24
ratings         0
dtype: int64

In [15]:
dataset = dataset.fillna('')
dataset.isna().sum()

index          0
title          0
genre          0
duration       0
director       0
writer         0
actors         0
description    0
ratings        0
dtype: int64

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        17172 non-null  int64
 1   title        17172 non-null  object
 2   genre        17172 non-null  object
 3   duration     17172 non-null  int64
 4   director     17172 non-null  object
 5   writer       17172 non-null  object
 6   actors       17172 non-null  object
 7   description  17172 non-null  object
 8   ratings      17172 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 1.2+ MB

In [17]:
features = ['director', 'writer', 'actors', 'genre', 'description']
features

['director', 'writer', 'actors', 'genre', 'description']

In [18]:
dataset[features] = dataset[features].replace({'\$': '', ',': '', '\©': '', '¶': '', 'ø': ''}, regex=True)

In [19]:
dataset[features]

,director,writer,actors,genre,description
0,Giovanni Pastrone,Gabriele D'Annunzio Titus Livius,Carolina Catena Lidia Quaranta Gina Marangoni ...,Adventure Drama History,Cabiria is a Roman child when her home is dest...
1,Mack Sennett Charles Bennett,,Marie Dressler Charles Chaplin Mabel Normand M...,Comedy,A con man from the city dupes a wealthy countr...
2,D.W. Griffith,Thomas Dixon Jr. Thomas Dixon Jr.,Henry B. Walthall Lillian Gish Mae Marsh Miria...,Drama History War,The Stoneman family finds its friendship with ...
3,Louis Feuillade,Louis Feuillade,Musidora Édouard Mathé Marcel Lévesque Jean Ay...,Action Adventure Crime,An intrepid reporter and his loyal friend batt...
4,D.W. Griffith,D.W. Griffith Anita Loos,Lillian Gish Mae Marsh Robert Harron F.A. Turn...,Drama History,The story of a poor young woman separated by p...
...,...,...,...,...,...
17167,Saeed Roustayi,Saeed Roustayi,Payman Maadi Navid Mohammadzadeh Parinaz Izady...,Action Crime Drama,The police are after a drug lord named Naser K...
17168,Roger Kumble,Elizabeth Hackett Hilary Galanoy,Christina Milian Adam Demos Jeffrey Bowyer-Cha...,Comedy Romance,When city girl Gabriela spontaneously enters a...
17169,Joe Begos,Max Brallier Matthew McArdle,Stephen Lang William Sadler Fred Williamson Ma...,Action Crime Horror,A group of old war veterans put their lives on...
17170,Michael Dowse,Shane Mack,Ed Helms Taraji P. Henson Terrence Little Gard...,Action Comedy,Twelve-year-old Kareem Manning hires a crimina...
17171,Lokesh Kanagaraj,Lokesh Kanagaraj Pon Parthiban,Karthi Narain Ramana George Maryan Harish Utha...,Action Thriller,A recently released prisoner becomes involved ...

# Implement TF-IDF Vectorizer

In [20]:
dataset['text'] = dataset['director'] + " " + dataset['writer'] + " " + dataset['actors'] + " " + dataset['genre'] + " " + dataset['description']
dataset['text']

0        Giovanni Pastrone Gabriele D'Annunzio Titus Li...
1        Mack Sennett Charles Bennett  Marie Dressler C...
2        D.W. Griffith Thomas Dixon Jr. Thomas Dixon Jr...
3        Louis Feuillade Louis Feuillade Musidora Édoua...
4        D.W. Griffith D.W. Griffith Anita Loos Lillian...
                               ...
17167    Saeed Roustayi Saeed Roustayi Payman Maadi Nav...
17168    Roger Kumble Elizabeth Hackett Hilary Galanoy ...
17169    Joe Begos Max Brallier Matthew McArdle Stephen...
17170    Michael Dowse Shane Mack Ed Helms Taraji P. He...
17171    Lokesh Kanagaraj Lokesh Kanagaraj Pon Parthiba...
Name: text, Length: 17172, dtype: object

In [21]:
dataset['text'].iloc[6]

"D.W. Griffith Thomas Burke D.W. Griffith Lillian Gish Richard Barthelmess Donald Crisp Arthur Howard Edward Peil Sr. George Beranger Norman Selby Drama Romance A frail waif abused by her brutal boxer father in London's seedy Limehouse District is befriended by a sensitive Chinese immigrant with tragic consequences."

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [23]:
tf = TfidfVectorizer(analyzer='word', stop_words='english')
tfidf_matrix = tf.fit_transform(dataset['text'])
tfidf_matrix.shape

(17172, 96505)

In [24]:
print(tfidf_matrix)

  (0, 92199)	0.05981013208625578
  (0, 49905)	0.09355241217306565
  (0, 73403)	0.1033118991080242
  (0, 37008)	0.12427337566621396
  (0, 52429)	0.13489213234238773
  (0, 20898)	0.1014765893412064
  (0, 81706)	0.09719345337021605
  (0, 31215)	0.1180618012063699
  (0, 76037)	0.1195950425200949
  (0, 85584)	0.09835752916774741
  (0, 74690)	0.13725366335118458
  (0, 15138)	0.3081679889744048
  (0, 80779)	0.11734913189103102
  (0, 91608)	0.1254086822015869
  (0, 22639)	0.10938483345788792
  (0, 38884)	0.06820519444836821
  (0, 16853)	0.08112926325337752
  (0, 73366)	0.17448589677185522
  (0, 14021)	0.1540839944872024
  (0, 38536)	0.06467448613556301
  (0, 24672)	0.023692879138860378
  (0, 1411)	0.045717646528991636
  (0, 52404)	0.14787242002735831
  (0, 40185)	0.1310420888913405
  (0, 32460)	0.1540839944872024
  :	:
  (17171, 36702)	0.13106940013010768
  (17171, 60889)	0.16186927027110729
  (17171, 69997)	0.14011696200024537
  (17171, 70958)	0.10948208943812225
  (17171, 46561)	0.12805121572058997
  (17171, 27963)	0.13053004338143587
  (17171, 5152)	0.12805121572058997
  (17171, 39179)	0.1114040758184378
  (17171, 67850)	0.15454368783854971
  (17171, 24824)	0.1250687018247665
  (17171, 19014)	0.11294263125094726
  (17171, 71722)	0.11314450049428909
  (17171, 71216)	0.11103907129682593
  (17171, 68876)	0.12026821368350481
  (17171, 16365)	0.09944262696958935
  (17171, 45933)	0.08654304935980572
  (17171, 86609)	0.08060420567743821
  (17171, 21243)	0.0821792972383085
  (17171, 41277)	0.10588671217248678
  (17171, 56486)	0.12057186972743636
  (17171, 2488)	0.08203359395414206
  (17171, 86328)	0.050848677832991095
  (17171, 19790)	0.11085929758155803
  (17171, 1079)	0.04575632897304059
  (17171, 32608)	0.06547886913490561

# Cosine Similarity

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
tfidf_matrix = tfidf_matrix.astype(np.float32)
cosine_sim = cosine_similarity(tfidf_matrix)

In [27]:
print(cosine_sim)

[[1.0000001  0.         0.018661   ... 0.00446272 0.         0.        ]
 [0.         1.         0.         ... 0.         0.05553691 0.        ]
 [0.018661   0.         0.9999998  ... 0.03217332 0.         0.0087674 ]
 ...
 [0.00446272 0.         0.03217332 ... 0.99999994 0.03460002 0.00675004]
 [0.         0.05553691 0.         ... 0.03460002 1.0000001  0.00212803]
 [0.         0.         0.0087674  ... 0.00675004 0.00212803 1.        ]]

### Building a 1-dimensional array with movie titles

In [28]:
titles = dataset['title']
indices = pd.Series(dataset.index, index=dataset['title'])
print(indices.tail(50))

title
Il sommelier                                     17122
L'assistente della star                          17123
Altered Carbon: Resleeved                        17124
Dov'è la tua casa?                               17125
P.S. Ti amo ancora                               17126
Jexi                                             17127
The Death of Dick Long                           17128
Borç Harç                                        17129
Between Two Ferns: Il film                       17130
Furie                                            17131
Secret Obsession                                 17132
Bala                                             17133
Revenger                                         17134
Weathering with You                              17135
One Piece: Stampede                              17136
3022                                             17137
Asuran                                           17138
Palm Springs                                     17139
Cep Herkülü: Naim Süleymanoglu                   17140
The Hater                                        17141
Android Kunjappan Version 5.25                   17142
Ala Vaikunthapurramuloo                          17143
Geukhanjikeob                                    17144
PM Narendra Modi                                 17145
Mortal Kombat Legends: Scorpion's Revenge        17146
Chhapaak                                         17147
La Missy sbagliata                               17148
Trauma Center                                    17149
Un'estate con Sofia                              17150
Darbar                                           17151
Il lago delle oche selvatiche                    17152
Street Dancer 3D                                 17153
Bait                                             17154
American Son                                     17155
Cinayet Süsü                                     17156
Nerkonda Paarvai                                 17157
Pati Patni Aur Woh                               17158
L'altra metà                                     17159
Il re di Staten Island                           17160
Da 5 Bloods - Come fratelli                      17161
Cosa mi lasci di te                              17162
The Kissing Booth 2                              17163
Dov'è il mio corpo?                              17164
Isi & Ossi                                       17165
La febbre del cemento                            17166
Metri Shesh Va Nim                               17167
Falling Inn Love - Ristrutturazione con amore    17168
VFW                                              17169
Coffee & Kareem                                  17170
Kaithi                                           17171
dtype: int64

# Get Recommendation

In [29]:
new=[]
nd=dict()

def Content_Based_Recommendations(title, dataset):
    
    sim_scores = list(enumerate(cosine_sim[indices[title]]))
    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    sim_scores = sim_scores[1:100]
    
    movie_indices = [i[0] for i in sim_scores]
    
    new=dataset.iloc[movie_indices]['ratings'].tolist()
    
    j=0
    for i in range(len(new)):
        if new[i]>7:
            nd[j]=dataset.iloc[movie_indices[i],list(range(1, 4))+[-2]]
            j=j+1
    
    return pd.DataFrame.from_dict(nd).transpose()

In [30]:
result = Content_Based_Recommendations('The Butterfly Ball', dataset)
result = result.sort_values(by='ratings', ascending = False)

In [31]:
result.head(10)

,title,genre,duration,ratings
21,Les Misérables in Concert: The 25th Anniversary,Drama Music Musical,178,8.8
3,Pink Floyd: The Wall,Drama Fantasy Music,95,8.1
18,Halloween - La notte delle streghe,Horror Thriller,91,7.8
11,Serpico,Biography Crime Drama,130,7.7
13,La 25ª ora,Drama,135,7.6
2,"Il cuoco, il ladro, sua moglie e l'amante",Crime Drama,124,7.6
8,Un pesce di nome Wanda,Comedy Crime,108,7.5
16,Sapore di miele,Drama,101,7.5
14,Gli angeli dell'inferno,Drama War,127,7.4
6,I misteri del giardino di Compton House,Comedy Drama History,108,7.3